<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="searchStyle.css">
    <script src="https://kit.fontawesome.com/6c280ed9d4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <form action="" method="post" class="search">
            <input type="text" name="city" placeholder="City" autocomplete="off">
            <button type="submit"><i class="fa-solid fa-magnifying-glass-location fa-2xl"></i> </button>
        </form>
    </div>
</body>

</html>